.update-notification {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 15px;
  border: 1px solid transparent;
}

/* stylelint-disable-next-line selector-class-pattern */
.update-notification__btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4286;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.update-notification__close {
  margin-left: 5px;
  width: 20px;
  text-decoration: none;
  display: inline-block;
}
